<html>
<head>
	<!--<title> predicting weight</title>-->
	<style>
		#submit{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: #f44336;
  
}  
	</style>
</head>
<body bgcolor="lightgrey">
  <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<center>
	
	<h1>House Rent Price = {{data}}</h1>
	<a href="/">GO BACK TO HOME PAGE</a>
</center>
</body>
</html>